html {box-sizing: border-box;}
*,
*::before,
*::after {box-sizing: inherit;}
h1, h2, p, figure {margin: 0;}
img {max-width: 100%; display: block;}
a {text-decoration: none; color: inherit;}

:root {
    --clr-white: #f2f2f2;
    --clr-gray: #a5a5a5;
    --bg-body: #1d1d1e;
    --bg-blue: #23b2ee;
    --bg-blue2: #0da5f0;
    --bx-shadow-header: 0 0 5px 0 #131313;
    --bx-shadow-menu: -0px 5px 5px #111111,
    5px -5px 5px #151515;
}

.tt-uppercase {
    text-transform: uppercase;
}
.tt-capitalize {
    text-transform: capitalize;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-body);
    color: var(--clr-white);
}

.header-hidden {
    height: 75px;
}

.header {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-body);
    box-shadow: var(--bx-shadow-header);
    transition: all 0.4s ease-in-out;
}

.header-scrolled {
    height: 65px;
    /* animation: x 0.5s; */
}

/* @keyframes x {
    from {
      opacity: 90%;
    }
    to {
      opacity: 100%;
    }
} */

.toggle-button {
    display: none;
}
.menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 30px;
    margin-right: 4%;
}
.menu--item {
    text-align: center;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    transition: color 0.3s, border 0.3s, background 0.2s/*, text-decoration 0.3s*/;
}
.menu--item:hover {
    color: var(--clr-gray);
    /* text-decoration: overline; */
}
.menu--item.active {
    border: 1px solid var(--clr-white);
}
.menu--item.active:hover {
    border: 1px solid var(--clr-gray);
}
.toggle {
    display: none;
}

.main__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background: linear-gradient(to right, var(--bg-blue), var(--bg-blue2));
    height: 500px;
}

.main__hero--img {
    z-index: 1;
    display: block;
    margin-top: 70px;
}

.main__hero--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 30px;
}

.main__hero--button {
    display: inline-block;
    background: none;
    border: none;
    transition: all 0.20s;
}

.main__hero--button:hover {
    transform: scale(0.95);
}

.main__image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 250px 30px;
}

.footer {
    height: 60px;
    background-color: var(--clr-white);
}

@media screen and (max-width: 1000px){
    .main__hero--img {
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .header,
    .header-hidden {
        height: 65px;
        z-index: 1;
    }
    .menu {
        display: none;
    }

    .show-menu {
        display: grid;
        position: absolute;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        top: 65px;
        right: -22px;
        gap: 0;
        /* width: 100%; */
        height: 400px;
        box-shadow: var(--bx-shadow-menu);
    }
    .menu--item {
        padding: 25px;
        background-color: var(--bg-body);
    }
    .menu--item:hover {
        background-color: var(--bg-blue);
        color: var(--bg-body);
        text-decoration: overline 2px;
        transition: background 0.3s, color 0.3s, border 0.3s;
    }

    .menu--item.active:hover {
        border: 1px solid var(--bg-body);
    }

    .toggle-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: none;
        border: none;
        top: 12px;
        right: 15px;
        cursor: pointer;
    }

    .toggle {
        display: flex;
        width: 1.8rem;
        height: 3px;
        background-color: var(--clr-white);
        position: absolute;
        border-radius: 3em;
        z-index: 20;
    }
    .toggle::before,
    .toggle::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: var(--clr-white);
        border-radius: inherit;
    }  

    .toggle::before {
        top: -8px;
    }
    .toggle::after {
        top: 8px;
    }
    .toggle,
    .toggle::before,
    .toggle::after {
        transition: top .3s ease-in-out, transform .3s ease-in-out, background-color .3s ease-in-out;
    }
    .toggle.animation {
        background-color: transparent;
    }
    .toggle.animation::before {
        top: 0;
        transform: rotate(-45deg);
    }
    .toggle.animation::after {
        top: 0;
        transform: rotate(45deg);
    }

    .main__hero {
        flex-direction: column;
        height: auto;
        gap: 50px;
    }

    .main__hero--img {
        margin: 50px 20% 0 50px;
        z-index: 0;
    }
    .main__hero--text {
        margin: 0 50px;
    }
    .main__hero--button {
        margin: 50px auto 100px auto;
        transform: scale(1.2);
    }
    .main__hero--button:hover {
        transform: scale(1.15);
    }
    
    .main__image {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin: 70px 70px;
        gap: 80px;
    }
}